/* Main App Styles */

.App {
  background-color: #FFFFFF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000000;
}

.links {
  color: #2B2D42;
  text-decoration: underline;
}

.links:hover {
  color: #2B2D42;
  cursor: pointer;
}