/* Footer styles */

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;

    font-size: .85em;
}

.footer-links {
  padding-left: 2em;
}

.links-container {
  text-align: center;
}

@media (min-width: 768px) {
  .links-container {text-align: left;}
}